<!DOCTYPE html>
<html>
    <head>
        <title>Link Machine</title>
        <link rel='stylesheet' href='/css/style.css' type='text/css'>
    </head>
    <body>

        <div class='notice'>
            <%= styled_flash %>
        </div>

        <div class='main-content'>

            <div class='width30 pull-left'>
                <h1 class='page-title'>The <br />Link <br />Machine</h1>
            </div>

            <div class='width50 pull-left page-content'>
                <%= yield %>
            </div>

        </div>

    </body>
</html>
