<!DOCTYPE html>
<html>
    <head>
        <title>Linker Logs</title>
        <link rel='stylesheet' href='/css/style.css' type='text/css'>
    </head>
    <body>

        <h1>The Link Machine</h1>
        <div class='notice'>
            <%= styled_flash %>
        </div>

        <%= yield %>

    </body>
</html>
