<form action='/create' method='post'>
    <input id='link' name='link'>
    <input name='submit' type='submit' value='Save Link'>
</form>
<br />
<br />
Current Link: <%= @current_link.url %>
<br />
<br />
<a href='/history'>history</a>
