<form action='/create' method='post'>
    Link: <input id='link' name='link'>
    Password: <input id='password' name='password'>
    <br />
    <input name='submit' type='submit' value='Save Link'>
</form>
<br />
<br />
Current Link: <a href="<%= @current_link %>"><%= @current_link %></a>
<br />
<br />
<a href='/history'>history</a>
