body {
    background: rgb(24, 24, 24);
    color: rgb(85, 78, 165);
    font-family: 'helvetica neue','sans-serif';
}

.main-content {
    margin-top: 60px;
}

h1.page-title {
    font-size: 5.5em;
    margin-top: 0px;
}

.page-content {
    padding-left: 100px;
}

a {
    color: rgb(170, 170, 170);
    text-decoration: none;
}

a:hover {
    color: rgb(230, 230, 230);
}

.button {
    background: rgb(235, 235, 235);
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 2px;
    color: rgb(85, 78, 165);
    font-size: .7em;
    padding-top: 5px;
}

input {
    background: rgb(38, 35, 78);
    border: 1px solid rgb(75, 75, 75);
    height: 25px;
    color: rgb(170, 170, 170);
    font-size: 1em;
}

.button:hover {
    background: rgb(182, 182, 182);
}

.width30 {
    width: 30%;
}

.width50 {
    width: 50%;
}

.width70 {
    width: 70%;
}

.pull-left {
    float: left;
}

.width300 {
    width: 300px;
}

#flash {
    height: 30px;
    background: rgb(94, 23, 23);
    color: rgb(201, 199, 199);
    padding-top: 8px;
    padding-left: 10px;
}
